/* Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Serif Font */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --default-sans: "Inter", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --default-serif: "Cardo", serif;
  --primary: #FAB12F;
  --secondary: #ffa200;
}

* {
  box-sizing: border-box;
}

.dark {
  background-color: black;
  color: white;
}

.placeholder {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.placeholder>h1 {
  color: white;
  font-size: 3rem;
  font-family: sans-serif;
}

body {
  margin: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--default-sans);
}

main {
  padding: 20px 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(23, 23, 23);
  transition: all 0.15s ease-in;
}

a:hover {
  color: rgb(59, 59, 59);
}

button {
  background: none;
  border: none;
  padding: 4% 10%;
  font: inherit;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.15s ease-in;
}

button:hover {
  transform: scale(105%);
}

h1,
h2 {
  font-family: var(--default-serif);
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

img {
  width: 100%;
  border-radius: 2%;
}